body{
    background-color: #000;
}

#incr{
    position: absolute;
    left: 20%;
    height: 50px;
    font-size: 20px;
    background-color: #939393
}

p{
    color: #fff;
    font-size: 20px;
}

.money{
    position: absolute;
    display: block;
    list-style: none;
    right: 50%;
    top: 0%;
}
