body{
    color: #fff;
    background-color: #000;
}

ul{
    list-style: none;
}

p{
    font-size: 20px;
}

#incr{
    position: absolute;
    left: 20%;
    height: 50px;
    font-size: 20px;
    background-color: #939393
}

.money{
    position: absolute;
    display: block;
    right: 50%;
    top: 0%;
}

#log{
    font-size: 20px;
    background: #727272;
    position: absolute;
    display: block;
    width: 200px;
    height: 50%;
    right: 30%;
    top: 0%;
}

.clearLog{
    width: 240px;
    position: absolute;
    right: 30%;
    top: 50%;
}

.equip{
    position: absolute;
    left: 0%;
    top: 25%;
}

.monsters{
    position: absolute;
    left: 20%;
    top: 25%;
}